
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .job-brief:hover {
    cursor: pointer;
    background-color: rgb(226, 215, 250);
  }
  
  .company-name{
    font-size:100;
    color:'#FFFFFF';
    font-family:'Times New Roman';
    padding-left:30px;
    padding-right:30px;
    text-shadow:'#585858';
    text-emphasis-color: 10px;
  }
  
  .job-post-image{
    border: 2px solid red;  
    margin: auto;
    align-items: center;
    background-color: #26a57b;
  }
  
  .salary{
    color: black;
  }
  
  .company-banner {
    width: 100%;
    position: relative;
    align-content: center;
  }
  
  .searchField {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    align-items: baseline;
    color: #5e5e5e;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
  }
  
  .btns{
    border: 20px;
    color: yellowgreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn_Apply{
    margin-right: 16px;
    color: blue;
    align-self: center;
    align-items: center;
  }
  .btn_Reject{
    margin-right: 16px;
    color: crimson;
    margin-left: center;
    align-self: center;
    align-items: center;
  }
  
  .job-post-image{
    align-self: center;
    display: flex;
    align-items: center;
    background-color: #454545;
  }
  